<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.FarmaciaConnectionString"
            connectionString="Data Source=JONASJMX;Initial Catalog=Farmacia;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>